{% extends 'project_content/_service_content.html' %}
{% load staticfiles i18n %}

{% block bodyend %}
  {{ block.super }}
  <ul id="tlyPageGuide" data-tourtitle="My first map help">
    <li class="tlypageguide_left" data-tourtarget="div[data-label*='import averages']">
      <div>
        <p>
          Upload and import your files by clicking on the <strong>import averages</strong> box. Finally press "Execute"!</p>
      </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget="div[data-label*='xmipp - significant']">
      <div>
        <p>
            Select a method to obtain your initial map
            . You can choose among <strong>xmipp - ransac</strong>, <strong>eman
                initial volume</strong> and/or <strong>xmipp - significant</strong>.
        </p>
        <br />
        <p style="text-align: center;">
            <img src="{{useProtocols}}" />
        </p>
        <br />
        <p>Parameters can be easily customized. Two levels of usages are supported: Normal or Advanced, which
         should be chosen according to your experience with each of the methods
        </p>
        <br />
        <p style="text-align: center;">
            <img src="{{protForm}}" />
        </p>
        <br />
        <p>Finally press "Execute"!</p>
      </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget="#tabs">
      <div>
        <p>
          Once a method has finished, click on its box to show the <strong>summary</strong> of Inputs and Outputs.
        </p>
        <br />
        <p style="text-align: center;">
          <img src="{{summary}}" />
        </p>
        <br />
        <p>Click on the <strong>Analyze Results</strong> button to further analyze the results of each method.</p>
        <br />
        <p style="text-align: center;">
          <img src="{{showj}}" />
        </p>
      </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget="div[data-label*='align volume']">
      <div>
        <p>
          The outputs of several methods can be mutually aligned in 3D and presented to the user for further selection using the <strong>align volumes</strong> box.
          Note that you should select one of the output 3D volumes to be used as a 3D reference.
          Finally press "Execute"!
        </p>
        <p>
          Aligned volumes can be downloaded using the corresponding button <img src="{{download}}" style="height: 1.5em; width: auto;" />.
        </p>
      </div>
    </li>
  </ul>
{% endblock %}