{% extends "layouts/100.html" %}

{% block title %}Scipion - My first map{% endblock %}

{% block css %}
    {{ block.super }}
	<link href="{{messi_css}}" rel="stylesheet" type="text/css" />
	<link href="{{font_awesome}}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="{{messi_js}}"></script>
	<script type="text/javascript" src="{{utils}}"></script>
	<script type="text/javascript" src="{{config}}"></script>
	<script type="text/javascript" src="{{project_utils_js}}" ></script>
	<script type="text/javascript" src="{{myfirstmap_utils}}"></script>

{% endblock %}

{% block main_col %}

<script>
	{% include '_scipion_context.html' %}
</script>

	<h1>My first map</h1>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="text-align:justify;">
			Use this web tool to obtain an initial 3D map
			from your average images. Several methods are available from different packages (Xmipp3 and Eman2).
			At the end of the processing you will be able to compare and download the output volumes from the different methods.
			</p>
			<p>It is recommended to read the
			<a href="https://github.com/I2PC/scipion/wiki/User-Documentation#tutorials" style="color:firebrick;" target="_blank">
				"Initial model estimation" tutorial
			</a> before using this tool.</p>
		</div>
	</div>
	<img class="img-responsive center-block" src="{{toolImages}}/intro.png"/>
    <div class="row">
	 	<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="wrap-item text-center">
				<h1 class="pad-bt15"><i class="fa fa-eye" aria-hidden="true"></i></h1>
				<!-- EXAMPLE PROJECT -->
				<a href="javascript:goExampleForm();">
					<button class="btn btn_wide button2 primary_inv" type="button">
					Explore
					</button>
				</a>
				<p>Click here to explore finished sample projects (read-only)</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="wrap-item text-center">
				<h1 class="pad-bt15"><i class="fa fa-flask" aria-hidden="true"></i></h1>
				<!-- TEST DATA -->
				<a href="javascript:serviceTestDataForm();">
					<button class="btn btn_wide button2 primary_inv" type="button">
						Try it!
					</button>
				</a>
				<p>Click here to create a project with some of our test data already imported.</p>
			</div>
		</div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
		  		<h1 class="pad-bt15"><i class="fa fa-plus-circle" aria-hidden="true"></i></h1>
				<!-- CREATE NEW PROJECT -->
				<a href="javascript:serviceProjForm();">
					<button class="btn btn_wide button2 primary_inv" type="button">
					Use it!
					</button>
				</a>
				<p>Click here to create an empty project where you will provide your own data</p>
			</div>
	  	</div>
    </div>
{% endblock %}