{% extends "layouts/100.html" %}

{% block title %}Scipion - My movie alignment{% endblock %}

{% block css %}
    {{ block.super }}
	<link href="{{messi_css}}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="{{messi_js}}"></script>
	<script type="text/javascript" src="{{utils}}"></script>
	<script type="text/javascript" src="{{config}}"></script>
	<script type="text/javascript" src="{{project_utils_js}}" ></script>
	<script type="text/javascript" src="{{movies_utils}}"></script>

{% endblock %}

{% block main_col %}

	<h1 class="my-5">My movie alignment</h1>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="text-align:justify;">
			To align movies obtained in an electron microscope with a Direct Electron Detection device (DED)
			we provide both Li et al. 2013 approach, to correct for global frame movements, as well as
			Abrishami et al. 2015, Optical Flow method, allowing for local correction of within-frame movements.
			The two methods can be applied independently on in a combined fashion. At the end of the processing
			you will be able to check the between-frames global movements, the degree of local movement in each frame,
			as well as to download the corrected averaged micrographs.
			</p>
		</div>
	</div>
	<img class="mx-auto d-block my-4" src="{{toolImages}}/intro.png"/>
	<div class="row">
	 	<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="wrap-item text-center">
				<h1 class="pad-bt15"><i class="fa fa-eye" aria-hidden="true"></i></h1>
				<p>Click here to explore already finished sample projects (read-only)</p>
				<!-- EXAMPLE PROJECT -->
				<a href="javascript:goExampleForm();">
					<button class="btn btn_wide button2 primary_inv" type="button">
					Explore
					</button>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="wrap-item text-center">
				<h1 class="pad-bt15"><i class="fa fa-flask" aria-hidden="true"></i></h1>
				<p>Click here to create a project with some of our test data already imported.</p>
				<!-- TEST DATA -->
				<a href="javascript:serviceTestDataForm();">
					<button class="btn btn_wide button2 primary_inv" type="button">
						Try it!
					</button>
				</a>
			</div>
		</div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
		  		<h1 class="pad-bt15"><i class="fa fa-plus-circle" aria-hidden="true"></i></h1>
              	<p>Click here to create an empty project where you will provide your own data</p>
				<!-- CREATE NEW PROJECT -->
				<a href="javascript:moviesProjForm();">
					<button class="btn btn_wide button2 primary_inv" type="button">
					Use it!
					</button>
				</a>
            </div>
	  	</div>
    </div>
{% endblock %}