{% extends 'layouts/100.html' %}

{% block title %}Registration form{% endblock %}

{% block main_col %}
    <h2>Rergistration form</h2>
	<div class="row">
		<div class="col-sm12 col-md7">
			<div class="panel panel-body">
				{% if error_message %}
				<p><strong>{{ error_message}}</strong></p>
				{% endif %}
				<form role="form" class="form-horizontal" action="" method="post">
					{% csrf_token %}
					{% include 'users/form_template.html' %}
				    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success">Register</button>
                    </div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}







