{% extends 'layouts/100.html'%}

{% block title %} - User profile{% endblock %}

{% block main_col %}

	<h3>Edit your profile</h3>

	<div class="row">
		<div class="col-sm12 col-md7">
			<div class="panel panel-body">
				{% if error_message %}
				<p><strong>{{ error_message}}</strong></p>
				{% endif %}
				<form role="form" class="form-horizontal" action="" method="post">
					{% csrf_token %}
					{% include 'users/form_template.html' %}
					<button type="submit" class="btn btn-success">Submit</button>
				</form>

			</div>
		</div>
	</div>

{% endblock %}



