{% extends "layouts/100.html" %}
{% load staticfiles %}

{% block title %}Scipion Web Tools{% endblock %}

{% block css %}
    {{ block.super }}

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{css_root}}general_style.css" type="text/css" />
    <link href="{{css_root}}/jumbotron.css" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ block.super }}
	<!--<script type="text/javascript" src="{{utils}}"></script>-->
	<!--<script type="text/javascript" src="{{config}}"></script>-->
{% endblock %}

{% block main_col %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron backimage">
      <div class="container mainHead">
        <h2>Integration, Reproducibility and Analysis</h2>
        <p>Scipion is an image processing framework to obtain 3D models<br>
           of macromolecular complexes using Electron Microscopy. 
        </p>
        <p><a class="btn btn-lg button2 primary_inv" href="javascript:goWithSubDomainURL('/download_form')" role="button">
			<i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download&nbsp;&nbsp;</a>
		</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3><i class="fa fa-book" aria-hidden="true"></i> <a href="http://scipion.cnb.csic.es/docs/" >Documentation</a></h3>
          <p>Find  out more information about Scipion for both users and developers.
          Check how to install Scipion, the list of integrated protocols
          and some introductory tutorials. Learn how to extend Scipion with new
          protocols, its API or description of our development tools.
          </p>
        </div>
        <div class="col-md-4">
          <h3><i class="fa fa-cloud" aria-hidden="true"></i> <a href="javascript:goWithSubDomainURL('/services/')" >Web Tools</a></h3>
          <p>Give a try to our online processing workflows, which are a subset
          of the protocols in Scipion to provide a first try without any local installation.
          Current web-tools include initial volume estimation, movie alignment and 
          local resolution (ResMap).
          </p>
       </div>
        <div class="col-md-4">
          <h3><i class="fa fa-bullhorn" aria-hidden="true"></i> <a href="https://github.com/I2PC/scipion/wiki/News-and-events">News and Events</a></h3>
          <p>Keep an eye on latest Scipion news. Check out about bugfixes, new features and 
          release plan. Don't miss the next Scipion workshop or any related event. Don't hesitate to contact
          us for any feedback or if you want to organize a workshop at your institution.
          </p>
        </div>
      </div>
    </div> <!-- /container -->

{% endblock %}
