	<script>
		{% include '_scipion_context.html' %}
	</script>
 	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<a href="{{abs_url}}">
				<img class="headerImage" src="{{abs_url}}resources/scipion_logo_normal.png">
  			</a>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12 text-right">
			<a href="http://i2pc.cnb.csic.es/LoadHome.htm">
				<img class="scipionlogo" src="{{abs_url}}resources/logo_i2pc_with_title.png"/></a>
			<a href="http://www.structuralbiology.eu/">
				<img class="scipionlogo" src="{{abs_url}}resources/logoInstruct.png"/></a>
			<a href="http://www.cnb.csic.es/">
				<img class="scipionlogo" src="{{abs_url}}resources/logo_cnb_without_title.gif"/></a>
		</div>
	</div>