{% load staticfiles i18n %}
<script type="text/javascript">
	jQuery(function($) {
		launchHelp();
		var html = '<span id="helpTool">'
				+ '<a href="javascript:launchHelp();"><i class="fa fa-question-circle" style="margin-right:5px"></i>Help</a>'
				+ '</span>'
		$("span#toolbar").append(html)
	});

	function launchHelp() {
		$("#dialog").dialog({
			resizable : false,
			position : [ 'right', '50%' ],
			height : '400',
			width : '500'
		});
	}
</script>

<div id="dialog" title="Let's start!" style="font-size: 0.9em;">
	<div id="contentDialog">

		<div id="step1">
			<h4>Step 1: Import volumes</h4>
			<p>
				 Import your volume file into the web
				portal by clicking on the graph on the left hand side of this panel, on the <strong>Import Volumes</strong> box.
			</p>
			<br />
			<p style="text-align: center;">
				<img src="/{% static 'images/importVolumes.png' %}" />
			</p>
			<br />
			<p>Once uploaded, press "Execute"!</p>
		</div>

		<br />

		<div id="step2">
			<h4>Step 2: Import aligned particles</h4>
			<p>
				Import your particles files into the web
				portal by clicking on the graph on the left hand side of this panel, on the <strong>Import particles</strong> box.
				For this particular workflow the particles need to be aligned. Typically .stk and .star files (with alignment information)
				from Relion can be used. Pay special attention to the <strong>Import from</strong> dropdown list to choose the right format:
				relion (.stk + .star files), xmipp, freealign, emx.
			</p>
			<br />
			<p style="text-align: center;">
				<img src="/{% static 'images/importParticles.png' %}" />
			</p>
			<br />
			<p>Once uploaded, press "Execute"!</p>
		</div>

		<br />

		<div id="step3">
			<h4>Step 3: Downsample your files</h4>
			<p>
				Downsample the volume and particles (to reduce the processing time of the later protocols)
				by clicking on the graph on the left hand side of this panel, on both of the <strong>xmipp - downsampling</strong> boxes.
			</p>
			<!--<br />-->
			<!--<p style="text-align: center;">-->
				<!--<img src="{{importParticle}}" />-->
			<!--</p>-->
			<br />
		</div>

		<br />

		<div id="step4">
			<h4>Step 4: Validate non tilt</h4>
			<p>
				Select the <strong>validate non-tilt</strong> box.
			</p>
			<!--<p style="text-align: center;">-->
				<!--<img src="{{useResMap}}" />-->
			<!--</p>-->
			<!--<br />-->
			<p>Parameters can be easily customized. Two level of usages are supported (Normal and Advanced), which
			 should be chosen according to your experience.
				</p>
			<br />
			<!--<p style="text-align: center;">-->
				<!--<img src="{{protResMap}}" />-->
			<!--</p>-->
			<p>Press "Execute"!</p>
			<br />
		</div>


		<div id="step5">
			<h4>Step 5: Validate overfitting</h4>
			<p>
				Select the <strong>validate overfitting</strong> box.
			</p>
			<!--<br />-->
			<!--<p style="text-align: center;">-->
				<!--<img src="{{useResMap}}" />-->
			<!--</p>-->
			<!--<br />-->
			<p>Parameters can be easily customized. Two level of usages are supported (Normal and Advanced), which
			 should be chosen according to your experience.
			</p>
			<!--<br />-->
			<!--<p style="text-align: center;">-->
				<!--<img src="{{protResMap}}" />-->
			<!--</p>-->
			<br />
			<p>Finally press "Execute"!</p>
		</div>

		<br />

		<div id="step6">
			<h4>Step 6: Analyze Results</h4>
			<p>Method's results can be further analyzed by first clicking on the corresponding Method box and then
			clicking on the <strong>Analyze Results</strong> button.
			</p>
			<br />
			<p style="text-align: center;">
				<img src="{{analyzeResults}}" />
			</p>
			<br />
		</div>

		<br />
	</div>
</div>
