{% extends 'project_content/_service_content.html' %}
{% load staticfiles i18n %}

{% block bodyend %}
  {{ block.super }}
	<ul id="tlyPageGuide" data-tourtitle="Reliability web tool help">
	  <li class="tlypageguide_left" data-tourtarget="div[id='graph_PROJECT']">
		<div>
			<p>This workflow might take over an <strong>hour</strong>, depending on the number of input particles and size of them.
				For BSOFT/Xmipp validate overfitting a typical execution starting from 3000 particles (64x64 pixels) requires about 40 minutes in a single CPU machine.
				As for Vargas method, for the same number of images, it will take over an hour.
			</p>
		</div>
	  </li>
	  <li class="tlypageguide_left" data-tourtarget="div[data-label*='import volumes']">
		<div>
			<p>Import your volume file to our server by clicking on the <strong>Import Volumes</strong> box. typical 64x64x64, up to 128.Once uploaded, press "Execute"!</p>
		</div>
	  </li>
	  <li class="tlypageguide_right" data-tourtarget="div[data-label*='import particles']">
		<div id="step2">
			<p>
				Import your particles files to our server on the <strong>Import particles</strong> box.
				For this particular workflow the particles need to be aligned. Pay special attention to the <strong>Import from</strong> dropdown list to choose the right format:
				relion (.stk + .star files), xmipp, freealign, emx. Once uploaded, press "Execute"!. For performance reasons ion maximun 4000 and typical 64 up to 128</p>
		</div>
	  </li>
	  <li class="tlypageguide_bottom" data-tourtarget="div[data-label*='non tilt']">
		<div>
			<p>
				Click on the <strong>alignment reliability</strong> box.
			</p>

			<p>This protocol determines the consistency between a 3D reconstruction from its projections attending to their alignment precision.</p>
			<br/>
			<h4>Input</h4>
			<p>It needs a reference map (to align noise images) and a set of aligned particles.</p>
			<br/>
			<h4>Parameters</h4>
			<p>
				<ul>
					<li>Symmetry: Symmetry as in <a href="http://xmipp.cnb.csic.es/twiki/bin/view/Xmipp/Symmetry">xmipp symmetry page</a></li>
				</ul>
			</p>
			<br/>
			<h4>Output</h4>
			<p>Quality parameter which determines the percentage of particles that aligns better than noise</p>

			<p>A chart with information about the P value (comparison between the particle and noise alignment precision) for each particle. A value higher that 1 means that the particle aligns with more precision than noise.</p>
			<a  target='_blank' href="/{% static 'images/alignmentReliabilityOutputPlot.png' %}"><img src="/{% static 'images/alignmentReliabilityOutputPlot.png' %}"/></a>
		</div>
	  </li>
	  <li class="tlypageguide_bottom" data-tourtarget="div[data-label*='overfitting']">
		<div>
			<p>Click on the <strong>xmipp - validate overfitting</strong> box.</p>
			<p>This protocol might tell you whether your set of particles can reconstruct a valid map or not.</p><br/>
			<h4>Input</h4>
			<p>It needs a reference map (to align noise images) and a set of <strong>aligned</strong> particles.</p><br/>
			<h4>Parameters</h4>
			<p><ul>
				<li>Resize...(Optional): If obtaining the best possible reconstruction is not your goal, you can resize your input particles and volume to reduce running time of the protocol.</li>
				<li>Symmetry: Symmetry as in <a href="http://xmipp.cnb.csic.es/twiki/bin/view/Xmipp/Symmetry">xmipp symmetry page</a></li>
			</ul>
			</p><br/>
			<h4>Output</h4>
			<p>A chart with two series related to the resolution of the reconstructed maps; one from aligned particles and another from aligned noise. Comparing them will help you to see if your aligned particles may reconstruct a valid map or not.</p>
			<a target="_blank" href="/{% static 'images/overfittingChart.png' %}"><img src="/{% static 'images/overfittingChart.png' %}"/></a>
		</div>
	  </li>
	  <li class="tlypageguide_top" data-tourtarget="#tabs">
		<div>
			<p>Once a method has finished, click on its box to show the <strong>Summary</strong> of Inputs and Outputs.</p>
	        <p>Click on the <strong>Analyze Results</strong> button to further analyze the results of each method.</p>
		</div>
	  </li>
	</ul>
{% endblock %}