{% extends "layouts/100.html" %}

{% block title %}Scipion - My reliability tool{% endblock %}

{% block css %}
    {{ block.super }}
	<link href="{{messi_css}}" rel="stylesheet" type="text/css" />
	<link href="{{font_awesome}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="{{messi_js}}"></script>
	<script type="text/javascript" src="{{utils}}"></script>
	<script type="text/javascript" src="{{config}}"></script>
	<script type="text/javascript" src="{{project_utils_js}}" ></script>
	<script type="text/javascript" src="{{mypval_utils}}"></script>

{% endblock %}

{% block main_col %}
	<h1>My reliability tool</h1>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="text-align:justify;">
			This tool will provide you with 2 methods to assess the reliability
			of your images compared to your map. The alignment reliability
			method (validate non-tilt) will evaluate the consistency between a
			raw 3D density map with respect to a set of 2D projection images
 			that were used to reconstruct that map, obtaining the alignment
			precision for each particle
			(<a href="https://doi.org/10.1038/srep21626" target="_blank"><strong>Vargas et al., Sci. Rep., 2016</strong></a>).
			The overfitting assessment method (validate overfitting) will assess
			the validity of a reconstruction comparing aligned particles to
			aligned gaussian noise. Practically, for small sets of particles,
			if the resolution of the reconstruction based on aligned particles
			is not considerably different from the one based on aligned gaussian
			noise, particle images may not be good enough for the reconstruction
			(<a href="http://dx.doi.org/10.3934/biophy.2015.1.21"
			target="_blank"><strong>Heymann, 2015</strong></a>).
			</p>
		</div>

	</div>
	<img class="img-responsive center-block" src="{{toolImages}}/intro.png"/>
    <div class="row">
	 	<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="wrap-item text-center">
				<h1 class="pad-bt15"><i class="fa fa-eye" aria-hidden="true"></i></h1>
				<p>Click here to explore already finished sample projects (read-only)</p>
				<!-- EXAMPLE PROJECT -->
				<a href="javascript:goExampleForm();">
					<button class="btn btn_wide button2 primary_inv" type="button">
					Explore
					</button>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="wrap-item text-center">
				<h1 class="pad-bt15"><i class="fa fa-flask" aria-hidden="true"></i></h1>
				<p>Click here to create a project with some of our test data already imported.</p>
				<!-- TEST DATA -->
				<a href="javascript:serviceTestDataForm();">
					<button class="btn btn_wide button2 primary_inv" type="button">
						Try it!
					</button>
				</a>
			</div>
		</div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
		  		<h1 class="pad-bt15"><i class="fa fa-plus-circle" aria-hidden="true"></i></h1>
              	<p>Click here to create an empty project where you will provide your own data</p>
				<!-- CREATE NEW PROJECT -->
				<a href="javascript:serviceProjForm();">
					<button class="btn btn_wide button2 primary_inv" type="button">
					Use it!
					</button>
				</a>
            </div>
	  	</div>
    </div>
{% endblock %}