{% extends 'project_content/_service_content.html' %}
{% load staticfiles i18n %}

{% block bodyend %}
  {{ block.super }}
	<ul id="tlyPageGuide" data-tourtitle="Reliability web tool help">
	  <li class="tlypageguide_left" data-tourtarget="div[id='graph_PROJECT']">
		<div>
			<p>This workflow might take about <strong>4 hours</strong>, depending on the number of input particles and size of them.
				We strongly recommend to use a set of 3000 to 4000 aligned particles (64x64 pixels) and a 64x64x64 size volume.
			</p>
		</div>
	  </li>
	  <li class="tlypageguide_left" data-tourtarget="div[data-label*='import volumes']">
		<div>
			<p>Import your volume file to our server by clicking on the <strong>Import Volumes</strong> box. A typical 64x64x64 is the recommended pixel size of the volumes for this process. Once uploaded, press "Execute"!</p>
			<p>Note that you can downsample your volume after importing it by clicking on the left pane in the <strong>crop/resize volumes</strong> protocol.</p>
		</div>
	  </li>
	  <li class="tlypageguide_right" data-tourtarget="div[data-label*='import particles']">
		<div id="step2">
			<p>
				Import your particles files to our server by clicking on the <strong>Import particles</strong> box.
				For this particular workflow the particles need to be aligned. Pay special attention to the <strong>Import from</strong> drop down list to choose the right format:
				relion (.stk + .star files), xmipp, freealign, emx. Once uploaded, press "Execute"!. For performance reasons, we do not recommend to use more than 4000 particles. It is also recommended
				to use a typical particle size of 64x64 up to 128x128.</p>
			<p>Note that you can downsample your particles after importing them by clicking on the left pane in the <strong>crop/resize particles</strong> protocol.</p>
		</div>
	  </li>
	  <li class="tlypageguide_bottom" data-tourtarget="div[data-label*='non tilt']">
		<div>
			<p>
				Click on the <strong>alignment reliability</strong> box.
			</p>

			<p>This protocol determines the consistency between a 3D reconstruction and the particle images it comes from, attending to their alignment precision.</p>
			<br/>
			<h4>Input</h4>
			<p>It needs a reference map (to align noise images) and a set of aligned particles.</p>
			<br/>
			<h4>Parameters</h4>
			<p>
				<ul>
					<li>Symmetry: Symmetry as in <a href="http://xmipp.cnb.csic.es/twiki/bin/view/Xmipp/Symmetry">xmipp symmetry page</a></li>
				</ul>
			</p>
			<br/>
			<h4>Output</h4>
			<p>Quality parameter which determines the percentage of particles that aligns better than noise</p>

			<p>A chart with information about the P value (comparison between the particle and noise alignment precision) for each particle. A value higher that 1 means that the particle aligns with more precision than noise.</p>
			<a  target='_blank' href="/{% static 'images/alignmentReliabilityOutputPlot.png' %}"><img src="/{% static 'images/alignmentReliabilityOutputPlot.png' %}"/></a>
		</div>
	  </li>
	  <li class="tlypageguide_bottom" data-tourtarget="div[data-label*='overfitting']">
		<div>
			<p>Click on the <strong>xmipp - validate overfitting</strong> box.</p>
			<p>This protocol is aimed to assess the validity of a reconstruction comparing aligned particles to aligned gaussian noise.
			Practically, for small sets of particles, if the resolution of the reconstruction based on aligned particles is not considerably different
			from the one based on aligned gaussian noise, particle images may not be good enough for the reconstruction.</p><br/>
			<h4>Input</h4>
			<p>It needs a reference map (to align noise images) and a set of <strong>aligned</strong> particles.</p><br/>
			<h4>Parameters</h4>
			<p><ul>
				<li>Resize...(Optional): You can resize your input particles and volume to reduce running time of the protocol.</li>
				<li>Symmetry: Symmetry as in <a href="http://xmipp.cnb.csic.es/twiki/bin/view/Xmipp/Symmetry">xmipp symmetry page</a></li>
			</ul>
			</p><br/>
			<h4>Output</h4>
			<p>A chart with two series related to the resolution of the reconstructed maps; one from aligned particles and another from aligned noise. Comparing them will help you to see if your aligned particles may reconstruct a valid map or not.</p>
			<br/>
			<h3>Example of an acceptable result</h3>
			<a target="_blank" href="/{% static 'images/overfittingChartBetagal.jpeg' %}"><img src="/{% static 'images/overfittingChartBetagal.jpeg' %}"/></a>
			<h3>Example of a probably non-acceptable result</h3>
			<a target="_blank" href="/{% static 'images/overfittingChartMao.jpeg' %}"><img src="/{% static 'images/overfittingChartMao.jpeg' %}"/></a>
		</div>
	  </li>
	  <li class="tlypageguide_top" data-tourtarget="#tabs">
		<div>
			<p>Once a method has finished, click on its box to show the <strong>Summary</strong> of Inputs and Outputs.</p>
	        <p>Click on the <strong>Analyze Results</strong> button to further analyze the results of each method.</p>
		</div>
	  </li>
	</ul>
{% endblock %}